.intro-image {
    background-image: url(./assets/images/intro.jpg);
    background-size: cover;
    position: absolute;
    height: 100vh;
    right: 0;
    left: 0;
    padding-top: 30px;
    text-align: left;

    .container h1 {
        margin: 0;
        color: $primary_color;
        font-weight: 800;
        font-size: 65px;
        font-family: 'Dancing Script', cursive;
    }
}

.feature-image {
    text-align: center;
    img {
        width: 300px;
        margin-bottom: 30px;
    }

    p {
        color: white;
    }

    &--white-bg {
        p {
            color: black;
        }
    }

    .no-margin {
        margin: 0;
    }

    ul {
        list-style-type: inherit;
        padding-left: 40px;
        margin: 10px 0 0;

        li {
            font-size: 18px;
            color: black;
            padding: 5px 0;
        }

        .nested-list {
            list-style-type: circle;
        }

        &.text-white {
            li {
                color: white;
            }
        }
        &.text-black {
            li {
                color: black;
            }
        }
    }
}

.section-title h3 {
    font-size: 26px;
}


.contact-box {
    display: inline-block;

    .contact-text {
        text-align: left;
    }

    .contact-circle {
        border: 2px solid white;
        color: white;
    }
}

body section {
    .container {
        p {
            font-size: 18px;
            line-height: 1.5;
        }

        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 38px;
        }

        h3 {
            font-size: 28px;
            color: black;
        }

        .section-title {
            h2 {
                display: inline-block;
                margin: 0;
                padding-bottom: 10px;
                background: url(./assets/images/title-line.png) no-repeat center bottom;
                background-size: 100% 5px;
                font-size: 42px;
            }
        }
    }

    &.theme-bg {
        .container .section-title h2 {
            background-image: url(./assets/images/white-line.png);
        }
    }
}

.navbar-nav .nav-item {
    padding: 16px 5px;
    .nav-link {
        font-size: 18px;
    }
}

.feature-image--white-bg {
    h4, h5 {
        color: black;
    }
    h4 {
        margin-bottom: 15px;
    }

    strong {
        color: black;
    }
}

section {

    .table {
        margin-top: 40px;

        th {
            font-size: 18px;
        }

        td {
            vertical-align: middle;
            font-size: 15px;
        }
    }

    &.theme-bg {
        .table {
            color: white;
        }
    }
}